@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-geist-sans) !important;
}

/* Customize the success toast */
.Toastify__toast--success {
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
}

/* Customize the error toast */
.Toastify__toast--error {
  background-color: #1336ea; /* Light red background */
  color: white; /* Dark red text */
}

/* Customize the info toast */
.Toastify__toast--info {
  background-color: #d1ecf1; /* Light blue background */
  color: #0c5460; /* Dark blue text */
}

/* Customize the progress bar */
.Toastify__progress-bar {
  background: white; /* Green progress bar */
}
